.text-red {
  color: #d64035;
}

.container {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;
}

.chat {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
}

.form {
  padding: 20px 20px;
  border: 1px solid #d64035;
}

.row {
  width: 20%;
}

#conversation {
  display: block;
  min-height: 100px;
  max-height: 100px;
  overflow-y: scroll;
  border: 1px solid;
  margin: 10px;
}
